---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="text-center">
    <p class="text-xl">Oops... seems that there's nothing here :(</p>
    <h2 class="text-inherit text-lg">
      Go to <a class="dark:text-orange-500 font-semibold" href="/">index</a>
    </h2>
    <img src="/not-found.svg" width="768" height="400" />
  </section>
</BaseLayout>
