---
import Header from "./Header.astro";
import Footer from "./Footer.astro";
---

<body class="bg-neutral-50">
  <Header />
  <main class="min-h-screen max-w-4xl mx-auto py-20 px-4">
    <slot />
  </main>
  <Footer />
</body>
