---
import Header from "./Header.astro";
import Footer from "./Footer.astro";
---

<body
  class="text-slate-800 relative transition-colors dark:text-zinc-300 bg-neutral-50 dark:bg-zinc-900"
>
  <Header />
  <main class="min-h-screen max-w-4xl mx-auto py-20 px-4">
    <slot />
  </main>
  <Footer />
</body>
