---
import HeaderLink from "./HeaderLink.astro";
import { IoLogoGithub } from "react-icons/io5/index.js";
---

<header class="w-full fixed z-20 p-3">
  <nav class="max-w-2xl h-[50px] mx-auto">
    <div>
      <HeaderLink class="text-sm md:text-base" href="/">
        🧉 Joaquin Franco
      </HeaderLink>
      <HeaderLink
        class="hidden md:inline-flex"
        href="https://github.com/joafran"
        target="_blank"
      >
        <IoLogoGithub />
        Source
      </HeaderLink>
    </div>
  </nav>
</header>
